/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Raleway:wght@200;300&family=Rubik:wght@300;500;700&family=Baloo+Chettan+2:wght@600&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* Colors */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #5b5757;
  /* Fonts */
  --ff-primary: 'Rubik', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;
  --ff-tertiary: 'Baloo Chettan 2', cursive;
  --ff-cuaternary: 'Antonio', sans-serif;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: absolute;
  background: var(--clr-white);
  color: var(--clr-black);
  overflow-x: hidden;
}
section {
  margin-top: 12rem;
  margin-bottom: 12rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 80%;
}
ul {
  list-style-type: none;
}
a {
  color: var(--clr-black);
  text-decoration: none;
}
a:visited {
  color: var(--clr-black);
}
h1 {
  margin: 2rem 0 0 0;
  font-family: var(--ff-primary);
  font-weight: 700;
  /* font-size: 11rem; */
  font-size: clamp(6rem, 3rem + 12vw, 11rem);
  line-height: 1;
  text-align: left;
}
h2 {
  color: var(--clr-gray);
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 2rem;
  /* letter-spacing: 0.2rem; */
}
p {
  color: var(--clr-black);
  font-family: var(--ff-secondary);
  font-weight: 200;
  /* font-size: 32px; */
}

/*
=============== 
Main Styles
===============
*/
.container {
  margin: 0 auto;
  padding: 1.5%;
}
nav {
  transform: rotate(-90deg);
  position: fixed;
  top: 250px;
  right: -95px;
  height: 2rem;
  width: 20rem;
  /* border: 1px solid black; */
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

nav ul li a {
  font-family: var(--ff-cuaternary);
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.banner {
  margin: 0 auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--clr-white);
  /* border-bottom: 1px solid black; */
}

.logo {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  line-height: 3.5rem;
  margin-left: 10px;
  vertical-align: center;
}

#logo-toggle {
  opacity: 1;
  animation: showLogo 5s ease-in infinite;
}

@keyframes showLogo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-header {
  margin: 0 auto;
}

.hero-info {
  margin-left: auto;
  width: 60%;
}

.hero-info p {
  font-size: 2rem;
  font-weight: 300;
  text-align: right;
  line-height: 1.2;
}

.current-time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 10px;
}

.current-time span {
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.5rem;
}

.current-time .moon-icon {
  display: none;
}

/* Sections */
/*    A   u   t   h   o   r   */

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.author-info p {
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: justify;
}

.author-img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.author-img img {
  height: 22rem;
  width: 100%;
  object-fit: cover;
}

.em {
  width: 1.2em;
  height: 1.2em;
}

/*    R    e   c   e   n   t    */

.recent-grid {
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr [x2];
  grid-template-rows: [y0] 1fr [y1] 0.5fr [y2] 0.5fr [y3] 0.5fr [y4] 0.5fr [y5];
  column-gap: 2rem;
  row-gap: 1rem;
}

.recent-list ul li a {
  font-family: var(--ff-primary);
  /* font-size: 5rem; */
  font-size: clamp(2rem, 7vw, 5rem);
}

.a {
  grid-column: x0 / x1;
  grid-row: y4 / y5;
}

.b {
  grid-column: x0 / x1;
  grid-row: y2 / y3;
}

.c {
  grid-column: x1 / x2;
  grid-row: y3 / y4;
}

.e {
  grid-column: x0 / x1;
  grid-row: y0 / y1;
}

.d {
  grid-column: x1 / x2;
  grid-row: y1 / y2;
}

.a a,
.b a,
.c a,
.d a,
.e a {
  display: block;
  width: 100%;
  height: 100%;
}
.a a,
.b a,
.e a {
  text-align: right !important;
}

/*    P   o   e   m   s    */
.poem-list ul li {
  display: flex;
  align-items: center;
}

.poem {
  font-family: var(--ff-primary);
  /* font-size: 7rem; */
  font-size: clamp(5rem, 11.5vw, 7rem);
}

.poem:hover + span {
  display: inline-block;
}

.poem:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.arrow {
  color: transparent;
  background-image: url('../img/arrow-archery.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 5rem;
  width: 4rem;
  height: 4rem;
  display: none;
}
