/*
===============
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300&family=Raleway:wght@200;300&family=Rubik:wght@300;500;700&family=Baloo+Chettan+2:wght@600&display=swap');

/*
===============
Variables
===============
*/

:root {
  /* Colors */
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #5b5757;
  /* Fonts */
  --ff-primary: 'Rubik', sans-serif;
  --ff-secondary: 'Raleway', sans-serif;
  --ff-tertiary: 'Baloo Chettan 2', cursive;
  --ff-cuaternary: 'Antonio', sans-serif;
}

/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: absolute;
  background: var(--clr-white);
  color: var(--clr-black);
  overflow-x: hidden;
}
section {
  margin-top: 15rem;
  margin-bottom: 15rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 80%;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
}
a {
  color: var(--clr-black);
  text-decoration: none;
}
a:visited {
  color: var(--clr-black);
}
h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-family: var(--ff-primary);
  font-weight: 700;
  font-size: clamp(6rem, 3rem + 12vw, 12.5rem);
  line-height: 0.87;
  text-align: left;
}
h2 {
  color: var(--clr-gray);
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 2rem;
  /* letter-spacing: 0.2rem; */
}
p {
  color: var(--clr-black);
  font-family: var(--ff-secondary);
  font-weight: 200;
  /* font-size: 32px; */
}

/*
===============
Main Styles
===============
*/
.container {
  margin: 0 auto;
  padding: 1.5%;
}
nav {
  transform: rotate(-90deg);
  position: fixed;
  top: 250px;
  right: -95px;
  height: 2rem;
  width: 20rem;
  /* border: 1px solid black; */
}

nav ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.navbar-icon-container {
  display: none;
}

/* .navbar-icon-container img {

} */

nav ul li a {
  font-family: var(--ff-cuaternary);
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.banner {
  margin: 0 auto;
  padding-left: 1.5%;
  padding-right: 1.5%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--clr-white);
  /* border-bottom: 1px solid black; */
}

.logo {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo span {
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-weight: 500;
  font-size: 2rem;
  text-align: left;
  line-height: 3.5rem;
  margin-left: 10px;
  vertical-align: center;
}

#logo-toggle {
  opacity: 1;
  animation: showLogo 5s ease-in infinite;
}

@keyframes showLogo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-header {
  margin: 0 auto;
}

.hero-info {
  margin-left: auto;
  width: 70%;
}

.hero-info p {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: right;
  line-height: 1.2;
}

.current-time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 10px;
}

.current-time span {
  color: var(--clr-black);
  font-family: var(--ff-primary);
  font-weight: 300;
  font-size: 1.8rem;
}

.current-time .moon-icon {
  display: none;
}

/* Sections */
/*    A   u   t   h   o   r   */

.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.author-info p {
  font-size: 2rem;
  line-height: 1.2;
  text-align: justify;
}

.author-img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.author-img img {
  height: 22rem;
  width: 100%;
  object-fit: cover;
}

.em {
  width: 1.2em;
  height: 1.2em;
}

/*    R    e   c   e   n   t    */

.recent__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .recent__list li {
  
} */

.recent__link {
  font-family: var(--ff-primary);
  font-size: clamp(5rem, 11.5vw, 8rem);
  display: block;
  width: 100%;
  height: 100%;
  clip-path: inset(0 100% 0 0);
  transition: 1.2s ease-in;
}

.reveal-text {
  clip-path: inset(0 0 0 0);
}

/*    P   o   e   m   s    */
.poem-list ul li {
  display: flex;
  align-items: center;
}

.poem {
  font-family: var(--ff-primary);
  font-size: clamp(5rem, 11.5vw, 8rem);
}

.poem:hover + span {
  display: inline-block;
}

.poem:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.arrow {
  color: transparent;
  background-image: url('../img/arrow-archery.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 5rem;
  width: 4rem;
  height: 4rem;
  display: none;
}

/* F o o t e r */

.social > a,
.upward-btn a,
.social > a > img,
.upward-btn > a > img {
  width: 25px;
  height: 25px;
}

.footer__center-container {
  margin: 0 auto;
  scroll-behavior: smooth;
  padding-left: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer__slogan-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1.2rem;
  border-top: 1px solid var(--clr-black);
}

.footer__slogan,
.social__title {
  font-size: 1.5rem;
  font-family: var(--ff-secondary);
  font-weight: 300;
  text-align: end;
}

.footer__slogan strong {
  font-family: var(--ff-primary);
  font-weight: 300;
}

.social {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 1rem;
}

.social a {
  visibility: hidden;
}

.social:hover a,
.social__title:hover ~ a {
  visibility: visible;
}

.thank-msg {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.animate-fill {
  animation: fill 0.8s ease forwards 2s;
}

.animate-line {
  animation: line-anim 4s ease forwards;
}

#thank-msg__svg {
  width: 450px;
  height: 45px;
}

#thank-msg__svg path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: black;
  }
}

.footer__copyright-container {
  padding: 1.5rem 0;
  /* background-color: var(--clr-gray); */
  /* background-color: #ccbaa6; */
  /* background-color: #bfab8f; */
  background-color: #b3997a;
}

.footer__copyright {
  padding-left: calc(10px + 1.5%);
  margin: 0 auto;
  scroll-behavior: smooth;
  width: 80%;
  color: var(--clr-white);
  font-size: 1.3rem;
}

.footer__copyright a {
  color: var(--clr-white);
  /* font-size: 1.5rem; */
}

/*M    e   d   i   a  ____ Q   u   e   r   i   e   s*/

@media only screen and (max-width: 1200px) {
  .hero-info p {
    font-size: 2.1rem;
  }

  .author-info p {
    font-size: 1.8rem;
  }

  .footer__slogan,
  .social__title {
    font-size: 1.2rem;
  }

  .footer__copyright {
    font-size: 1rem;
  }

  #thank-msg__svg {
    width: 350px;
    height: 35px;
  }
}

@media only screen and (max-width: 992px) {
  nav {
    right: -109px;
  }

  /* .recent-list ul li a {
    font-size: clamp(2rem, 6.5vw, 6rem);
  } */

  .poem,
  .recent__link {
    font-size: clamp(5rem, 10.8vw, 8rem);
  }

  .footer__slogan,
  .social__title {
    font-size: 0.935rem;
  }

  .footer__copyright {
    font-size: 0.875rem;
  }

  #thank-msg__svg {
    width: 270px;
    height: 27px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 87%;
  }

  .logo span {
    margin-left: 6.5px;
  }

  .current-time span {
    font-size: 1.5rem;
  }

  .hero-container {
    width: 87%;
  }

  .hero-info p {
    font-size: 1.5rem;
  }

  .author-info p {
    font-size: 1.5rem;
  }

  section,
  .footer__center-container,
  .footer__copyright {
    padding-left: 6.5px;
    width: 87%;
  }

  h1 {
    margin-top: 3rem;
  }

  nav {
    right: -136px;
  }

  nav ul li a {
    font-size: 1.35rem;
  }

  .poem,
  .recent__link {
    font-size: clamp(4.3rem, 10.8vw, 8rem);
  }

  .footer__slogan,
  .social__title {
    font-size: 0.77rem;
  }

  .footer__copyright {
    font-size: 0.75rem;
  }

  .social > a,
  .upward-btn a,
  .social > a > img,
  .upward-btn > a > img {
    width: 18px;
    height: 18px;
  }

  #thank-msg__svg {
    width: 210px;
    height: 21px;
  }
}

@media only screen and (max-width: 576px) {
  .logo {
    width: 92%;
  }

  .logo span {
    font-size: 1.8rem;
  }

  .current-time span {
    font-size: 1.35rem;
  }

  .hero-container {
    width: 92%;
  }

  .hero-info p {
    font-size: 1.45rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  nav {
    transform: rotate(0deg);
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
    width: 100%;
    height: 2.5rem;
    background-color: #ccbaa6;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
  }

  nav ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5%;
    width: 92%;
    margin: 0 auto;
  }

  nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar-icon-container {
    display: inline-block;
  }

  nav ul li:last-child {
    margin-left: 6.5px;
  }

  nav ul li a {
    font-size: 0.7rem;
    text-transform: capitalize;
  }

  section,
  .footer__center-container,
  .footer__copyright {
    width: 92%;
  }

  /* .recent-list ul li a {
    font-size: clamp(1.6rem, 7.5vw, 6rem);
  } */

  .poem,
  .recent__link {
    font-size: clamp(3.3rem, 10.8vw, 8rem);
  }

  .footer__copyright-container {
    padding: 1.5rem 0;
    padding-bottom: calc(1.5rem + 40px);
    background-color: var(--clr-white);
  }

  .footer__copyright {
    padding-left: calc(6.5px + 1.5%);
    color: var(--clr-black);
  }
}
